langchain
python-dotenv
langsmith
langchain_community
langchain_core
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
langchain-groq
torch
